.tags-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--background);
  color: var(--color);

  div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 450;

    .tag-icon {
      width: 18px;
      height: 18px;
    }
  }

  .tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    .tag {
      font-size: 12px;
      font-weight: 550;
      padding: 5px 10px;
      background-color: var(--background2);
      border-radius: 18px;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--color);
    }

    .selected {
      background-color: var(--background3);
      color: var(--color2);
    }
  }
}

.light {
  --background: #fff;
  --background2: #f4f4f4;
  --background3: #333;
  --color: #333;
  --color2: #fff;
}

.dark {
  --background: #111;
  --background2: #333;
  --background3: #fff;
  --color: #fff;
  --color2: #333;
}
