.sidebar {
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  height: calc(100vh - 2px);
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--background-color1);
  border: solid 1px #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: #eee;
  }
}

.note {
  position: absolute;
  left: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--background-color2);
  border-left: solid 1px #eee;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
}

@media (width >= 1000px) {
  .note {
    left: 300px;
  }
}

@media (width <= 666px) {
  .note {
    left: 200px;
  }
}

.light {
  --background-color1:#fbfbfc;
  --background-color2: #fff;
}

.dark {
  --background-color1:#111110;
  --background-color2: #111;
}
